<ion-view title="MyNotesApp"> <!-- ion-view directive tell to framework that this is a view -->
  <ion-content>
    <ion-list class="list" show-reorder="reordering">
      <ion-item href="#/edit/{{note.id}}" class="item-remove-animate item-icon-right" ng-repeat="note in notes track by note.id">

        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <i class="icon ion-arrow-right-b"></i>

        <ion-reorder-button class="ion-drag" on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remove(note.id)">Delete</ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer bar-stable">
    <a class="button button-assertive icon-left ion-compose" href="#/add">Add Note</a>
    <button class="button button-light icon-left ion-shuffle" ng-click="toggleReordering()">Reorder</button>
  </div>
</ion-view>